<a href="https://colab.research.google.com/github/EunSik312/623_chungnam/blob/main/python3_basic_w3school.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 기초 - w3school https://www.w3schools.com/python/matplotlib_intro.asp

In [ ]:
print("hello, wolrd")

hello, wolrd

In [ ]:
if 5 > 2:
  print("five is greater than two!")

five is greater than two!

In [ ]:
x = 5
y = "jonh"
print(x)
print(y)

5
jonh

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(_my_var)

John

In [ ]:
x, y, z = "orange", "banana", "cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x+y+z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = "awesome"

def myfunc():
  print("Python is" + x)

myfunc()

Python isawesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("python is " + x)

python is fantastic

In [1]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = "Hello World"	#str
x = 20	#int
x = 20.5	#float
x = 1j	#complex
x = ["apple", "banana", "cherry"]	#list
x = ("apple", "banana", "cherry")	#tuple
x = range(6)	#range
x = {"name" : "John", "age" : 36}	#dict
x = {"apple", "banana", "cherry"}	#set
x = frozenset({"apple", "banana", "cherry"})	#frozenset
x = True	#bool
x = b"Hello"	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview
x = None	#NoneType

In [2]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [6]:
import random

print(random.randrange(1, 10))

4

In [10]:
a = "Hello, World!"
print(a[3])
#변수의 지명하는 숫자 자리의 문자를 프린트함

l

In [11]:
a = "Hello, World!"
print(len(a))
#문자열 길이를 알려줌

13

In [14]:
txt = "The best things in life are free!"
print("bet" in txt)
#텍스트에 내가 입력하는 문자열이 있는지 참 거짓 판단해줌

False

In [18]:
txt = "The best things in life are free!"
if "e" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [20]:
txt = "The best things in life are free!"
print("are" not in txt)
#are이 텍스트에 포함되지 않는다 = 거짓

False

In [21]:
b = "Hello, World!"
print(b[2:5])
#지정한 범위의 문자 출력
#슬라이싱

llo

In [22]:
b = "Hello, World!"
print(b[:5])

Hello

In [23]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [24]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [25]:
a = "Hello, World!"
print(a.upper())
#a를 대문자로 바꾼다

HELLO, WORLD!

In [26]:
a = "Hello, World!"
print(a.lower())
#a를 소문자로 바꾼다

hello, world!

In [27]:
a = "      Hello, World! "
print(a.strip()) # returns "Hello, World!"
#공백 삭제해줌

Hello, World!

In [28]:
a = "Hello, World!"
print(a.replace("H", "J"))
# H를 J로 대체

Jello, World!

In [29]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
#한 변수에 큰 따옴표로 선언해도 작은 따옴표로 나뉘어져서 출력

['Hello', ' World!']

In [30]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [31]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [32]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [33]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [34]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [35]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [36]:
txt = "We are the so-called \"Vikings\" from the north."
#\'	Single Quote
#\\	Backslash
#\n	New Line
#\r	Carriage Return
#t	Tab
#\b	Backspace
#\f	Form Feed
#\ooo	Octal value
#\xhh	Hex value

In [37]:
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
ncode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning#

SyntaxError: invalid syntax (ipython-input-37-1310856892.py, line 1)

In [38]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [39]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [40]:
print(bool("Hello"))
print(bool(15))

True
True

In [41]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [42]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [43]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [44]:
def myFunction() :
  return True

print(myFunction())

True

In [45]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [47]:
x = 200
print(isinstance(x, float))

False

In [ ]:
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y
**	Exponentiation	x ** y
//	Floor division	x // y
=	x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3
|=	x |= 3	x = x | 3
^=	x ^= 3	x = x ^ 3
>>=	x >>= 3	x = x >> 3
<<=	x <<= 3	x = x << 3
:=	print(x := 3)	x = 3
print(x)
==	Equal	x == y
!=	Not equal	x != y
>	Greater than	x > y
<	Less than	x < y
>=	Greater than or equal to	x >= y
<=	Less than or equal to	x <= y
and 	Returns True if both statements are true	x < 5 and  x < 10
or	Returns True if one of the statements is true	x < 5 or x < 4
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)
is 	Returns True if both variables are the same object	x is y
is not	Returns True if both variables are not the same object	x is not y
in 	Returns True if a sequence with the specified value is present in the object	x in y
not in	Returns True if a sequence with the specified value is not present in the object	x not in y
& 	AND	Sets each bit to 1 if both bits are 1	x & y
|	OR	Sets each bit to 1 if one of two bits is 1	x | y
^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y
~	NOT	Inverts all the bits	~x
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2
()	Parentheses
**	Exponentiation
+x  -x  ~x	Unary plus, unary minus, and bitwise NOT
*  /  //  %	Multiplication, division, floor division, and modulus
+  -	Addition and subtraction
<<  >>	Bitwise left and right shifts
&	Bitwise AND
^	Bitwise XOR
|	Bitwise OR
==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and membership operators
not	Logical NOT
and	AND
or	OR