<a href="https://colab.research.google.com/github/EunSik312/623_chungnam/blob/main/python3_basic_w3school.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 기초 - w3school https://www.w3schools.com/python/matplotlib_intro.asp

In [ ]:
print("hello, wolrd")

hello, wolrd

In [ ]:
if 5 > 2:
  print("five is greater than two!")

five is greater than two!

In [ ]:
x = 5
y = "jonh"
print(x)
print(y)

5
jonh

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(_my_var)

John

In [ ]:
x, y, z = "orange", "banana", "cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x+y+z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = "awesome"

def myfunc():
  print("Python is" + x)

myfunc()

Python isawesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("python is " + x)

python is fantastic

In [1]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = "Hello World"	#str
x = 20	#int
x = 20.5	#float
x = 1j	#complex
x = ["apple", "banana", "cherry"]	#list
x = ("apple", "banana", "cherry")	#tuple
x = range(6)	#range
x = {"name" : "John", "age" : 36}	#dict
x = {"apple", "banana", "cherry"}	#set
x = frozenset({"apple", "banana", "cherry"})	#frozenset
x = True	#bool
x = b"Hello"	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview
x = None	#NoneType

In [2]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [6]:
import random

print(random.randrange(1, 10))

4

In [10]:
a = "Hello, World!"
print(a[3])
#변수의 지명하는 숫자 자리의 문자를 프린트함

l

In [11]:
a = "Hello, World!"
print(len(a))
#문자열 길이를 알려줌

13

In [14]:
txt = "The best things in life are free!"
print("bet" in txt)
#텍스트에 내가 입력하는 문자열이 있는지 참 거짓 판단해줌

False

In [18]:
txt = "The best things in life are free!"
if "e" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [20]:
txt = "The best things in life are free!"
print("are" not in txt)
#are이 텍스트에 포함되지 않는다 = 거짓

False

In [21]:
b = "Hello, World!"
print(b[2:5])
#지정한 범위의 문자 출력
#슬라이싱

llo

In [22]:
b = "Hello, World!"
print(b[:5])

Hello

In [23]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [24]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [25]:
a = "Hello, World!"
print(a.upper())
#a를 대문자로 바꾼다

HELLO, WORLD!

In [26]:
a = "Hello, World!"
print(a.lower())
#a를 소문자로 바꾼다

hello, world!