<a href="https://colab.research.google.com/github/EunSik312/623_chungnam/blob/main/python3_basic_w3school.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 기초 - w3school https://www.w3schools.com/python/matplotlib_intro.asp

In [ ]:
print("hello, wolrd")

hello, wolrd

In [ ]:
if 5 > 2:
  print("five is greater than two!")

five is greater than two!

In [ ]:
x = 5
y = "jonh"
print(x)
print(y)

5
jonh

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(_my_var)

John

In [ ]:
x, y, z = "orange", "banana", "cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x+y+z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = "awesome"

def myfunc():
  print("Python is" + x)

myfunc()

Python isawesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("python is " + x)

python is fantastic

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = "Hello World"	#str
x = 20	#int
x = 20.5	#float
x = 1j	#complex
x = ["apple", "banana", "cherry"]	#list
x = ("apple", "banana", "cherry")	#tuple
x = range(6)	#range
x = {"name" : "John", "age" : 36}	#dict
x = {"apple", "banana", "cherry"}	#set
x = frozenset({"apple", "banana", "cherry"})	#frozenset
x = True	#bool
x = b"Hello"	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview
x = None	#NoneType

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
import random

print(random.randrange(1, 10))

4

In [ ]:
a = "Hello, World!"
print(a[3])
#변수의 지명하는 숫자 자리의 문자를 프린트함

l

In [ ]:
a = "Hello, World!"
print(len(a))
#문자열 길이를 알려줌

13

In [ ]:
txt = "The best things in life are free!"
print("bet" in txt)
#텍스트에 내가 입력하는 문자열이 있는지 참 거짓 판단해줌

False

In [ ]:
txt = "The best things in life are free!"
if "e" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
print("are" not in txt)
#are이 텍스트에 포함되지 않는다 = 거짓

False

In [ ]:
b = "Hello, World!"
print(b[2:5])
#지정한 범위의 문자 출력
#슬라이싱

llo

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
a = "Hello, World!"
print(a.upper())
#a를 대문자로 바꾼다

HELLO, WORLD!

In [ ]:
a = "Hello, World!"
print(a.lower())
#a를 소문자로 바꾼다

hello, world!

In [ ]:
a = "      Hello, World! "
print(a.strip()) # returns "Hello, World!"
#공백 삭제해줌

Hello, World!

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))
# H를 J로 대체

Jello, World!

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
#한 변수에 큰 따옴표로 선언해도 작은 따옴표로 나뉘어져서 출력

['Hello', ' World!']

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
#\'	Single Quote
#\\	Backslash
#\n	New Line
#\r	Carriage Return
#t	Tab
#\b	Backspace
#\f	Form Feed
#\ooo	Octal value
#\xhh	Hex value

In [ ]:
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
ncode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning#

SyntaxError: invalid syntax (ipython-input-37-1310856892.py, line 1)

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [ ]:
x = 200
print(isinstance(x, float))

False

In [ ]:
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y
**	Exponentiation	x ** y
//	Floor division	x // y
=	x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3
|=	x |= 3	x = x | 3
^=	x ^= 3	x = x ^ 3
>>=	x >>= 3	x = x >> 3
<<=	x <<= 3	x = x << 3
:=	print(x := 3)	x = 3
print(x)
==	Equal	x == y
!=	Not equal	x != y
>	Greater than	x > y
<	Less than	x < y
>=	Greater than or equal to	x >= y
<=	Less than or equal to	x <= y
and 	Returns True if both statements are true	x < 5 and  x < 10
or	Returns True if one of the statements is true	x < 5 or x < 4
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)
is 	Returns True if both variables are the same object	x is y
is not	Returns True if both variables are not the same object	x is not y
in 	Returns True if a sequence with the specified value is present in the object	x in y
not in	Returns True if a sequence with the specified value is not present in the object	x not in y
& 	AND	Sets each bit to 1 if both bits are 1	x & y
|	OR	Sets each bit to 1 if one of two bits is 1	x | y
^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y
~	NOT	Inverts all the bits	~x
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2
()	Parentheses
**	Exponentiation
+x  -x  ~x	Unary plus, unary minus, and bitwise NOT
*  /  //  %	Multiplication, division, floor division, and modulus
+  -	Addition and subtraction
<<  >>	Bitwise left and right shifts
&	Bitwise AND
^	Bitwise XOR
|	Bitwise OR
==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and membership operators
not	Logical NOT
and	AND
or	OR

In [ ]:
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

좋아요! 초보자도 이해할 수 있도록 \*\*튜플(Tuple)\*\*을 간단하게 설명해드릴게요.

---

````markdown
# 📦 Tuple (튜플)

**튜플(Tuple)**은 Python에서 **여러 값을 하나로 묶을 수 있는 자료형**입니다.  
**리스트와 비슷하지만, 수정이 불가능(immutable)**하다는 특징이 있어요.

---

## ✅ 튜플 만들기

```python
# 소괄호 () 를 사용해서 생성
t1 = (1, 2, 3)
t2 = ("apple", "banana", "cherry")
````

---

## 🆚 튜플 vs 리스트

| 구분 | 리스트 (`list`) | 튜플 (`tuple`)    |
| -- | ------------ | --------------- |
| 기호 | `[]` 대괄호     | `()` 소괄호        |
| 수정 | 가능 (mutable) | 불가능 (immutable) |
| 속도 | 느림           | 빠름              |
| 용도 | 자주 바뀌는 데이터   | 고정된 데이터         |

---

## 📌 튜플 사용 예시

```python
person = ("윤은식", 25, "개발자")

print(person[0])  # 윤은식
print(person[1])  # 25
```

---

## 🔒 튜플은 변경 불가

```python
t = (1, 2, 3)
t[0] = 100  # ❌ 오류 발생! 튜플은 수정할 수 없음
```

---

## 🧰 튜플 관련 함수

```python
t = (1, 2, 3, 2)

len(t)       # 4 (길이)
t.count(2)   # 2 (2가 몇 번 나오는지)
t.index(3)   # 2 (3이 있는 인덱스)
```

---

## 💡 언제 튜플을 쓸까?

* 데이터가 **변하지 않아야 할 때**
* **속도가 중요한 경우**
* 예: (x, y) 좌표, RGB 색상, DB 결과 등

---

````

### 예시 요약

```python
location = (37.55, 126.98)  # 위도, 경도 (튜플 사용 예시)
````

---

필요하면 `list`, `set`, `dictionary`도 비슷한 형식으로 알려드릴게요.
다음은 뭘 배우고 싶으신가요? 😄

In [ ]:
#count()	Returns the number of times a specified value occurs in a tuple
#index()	Searches the tuple for a specified value and returns the position of where it was found
#

좋아요! 이번엔 **`set` (집합)** 에 대해 간단하고 깔끔하게 정리해드릴게요. 초보자가 이해하기 쉬운 예제와 함께 마크다운 형식으로 제공해요. `SET.md` 파일이나 `README.md`에 넣기 좋습니다.

---

````markdown
# 🧮 Set (집합)

**`set`**은 Python에서 **중복을 허용하지 않고**, **순서가 없는 데이터 집합**입니다.  
수학에서 말하는 집합과 비슷하게 동작합니다.

---

## ✅ Set 만들기

```python
s = {1, 2, 3}
print(s)  # {1, 2, 3}
````

⚠️ 중복된 값을 넣으면 자동으로 제거됩니다.

```python
s = {1, 2, 2, 3, 3}
print(s)  # {1, 2, 3}
```

---

## 📌 특징

| 특징      | 설명                 |
| ------- | ------------------ |
| 중복 ❌    | 같은 값을 여러 번 저장하지 않음 |
| 순서 없음 ❌ | 인덱싱(위치 접근) 불가능     |
| 변경 가능 ✅ | 값을 추가하거나 제거할 수 있음  |

---

## 🔧 주요 메서드

```python
s = {1, 2, 3}

s.add(4)      # 값 추가 → {1, 2, 3, 4}
s.remove(2)   # 값 제거 → {1, 3, 4}
s.clear()     # 모두 제거 → set()
```

---

## 🔁 집합 연산

```python
a = {1, 2, 3}
b = {3, 4, 5}

a | b   # 합집합 → {1, 2, 3, 4, 5}
a & b   # 교집합 → {3}
a - b   # 차집합 → {1, 2}
a ^ b   # 대칭차집합 → {1, 2, 4, 5}
```

---

## ❌ 인덱싱 안 됨

```python
s = {10, 20, 30}
print(s[0])  # 오류! set은 순서가 없음
```

**→ 리스트로 변환 후 사용 가능**

```python
lst = list(s)
print(lst[0])  # 가능
```

---

## 💡 언제 사용하나요?

* 중복 제거가 필요할 때
* 빠른 검색이 필요할 때 (`in` 연산 빠름)
* 수학적 집합 연산이 필요할 때

---

## 🧠 예제

```python
words = ["apple", "banana", "apple", "orange", "banana"]
unique_words = set(words)
print(unique_words)  # {'apple', 'banana', 'orange'}
```

---

```

---

다음으로 `dictionary`, `list`, `for loop`, `class` 등도 원하시면 계속 도와드릴게요!  
어떤 걸 더 배우고 싶으신가요? 😄
```

좋아요! 초보자를 위한 **Python Dictionary(딕셔너리)** 개념을 아주 쉽게 정리해드릴게요. 마크다운으로 제공하니 `DICTIONARY.md` 같은 파일이나 `README.md`에 그대로 넣어도 됩니다.

---

````markdown
# 📚 Python Dictionary (딕셔너리)

**Dictionary(딕셔너리)** 는 `키(key)`와 `값(value)` 쌍으로 데이터를 저장하는 자료형입니다.  
전화번호부나 주소록처럼 **이름 → 전화번호** 식으로 대응하는 데이터를 표현할 때 사용합니다.

---

## ✅ 딕셔너리 만들기

```python
person = {
    "name": "윤은식",
    "age": 25,
    "job": "developer"
}
````

---

## 🔍 값 접근하기

```python
print(person["name"])   # 윤은식
print(person["age"])    # 25
```

❗ 존재하지 않는 키를 접근하면 오류가 납니다.
→ `get()`을 사용하면 기본값 설정 가능

```python
print(person.get("hobby", "없음"))  # 없음
```

---

## 🛠️ 값 수정 & 추가

```python
person["age"] = 26              # 값 수정
person["hobby"] = "coding"      # 새로운 키 추가
```

---

## ❌ 키 삭제

```python
del person["job"]         # 특정 키 삭제
person.pop("age")         # pop으로 삭제
person.clear()            # 모든 항목 제거
```

---

## 🔁 반복하기

```python
for key in person:
    print(key, person[key])

# 또는
for key, value in person.items():
    print(f"{key} → {value}")
```

---

## 📌 딕셔너리 메서드

| 메서드             | 설명              |
| --------------- | --------------- |
| `dict.keys()`   | 모든 키 반환         |
| `dict.values()` | 모든 값 반환         |
| `dict.items()`  | (키, 값) 쌍 반환     |
| `dict.get()`    | 키에 대한 값 가져오기    |
| `dict.update()` | 여러 값 한 번에 수정/추가 |
| `dict.pop()`    | 특정 키 삭제 및 값 반환  |

---

## 🧠 예제

```python
student = {
    "id": 1234,
    "name": "홍길동",
    "grade": "A"
}

# 키 목록 보기
print(student.keys())  # dict_keys(['id', 'name', 'grade'])

# 값 목록 보기
print(student.values())  # dict_values([1234, '홍길동', 'A'])
```

---

## 💡 언제 사용하나요?

* 데이터에 이름을 붙여 저장할 때
* JSON, API 응답 데이터 처리
* 빠르게 값에 접근하고 싶을 때

---

```

---

원하시면 `list`, `tuple`, `set`, `if문`, `for문`, `class`도 비슷하게 정리해드릴 수 있어요!  
다음은 무엇을 배우고 싶으신가요? 😊
```